app-anime-ost-entry {
    height: 100%;
}

.anime-ost-table {
    width: 100%;
    border: 2px;
    border-style: solid;
    border-color: #006688;
    border-collapse: collapse;
    background-color: #f0ffff;
    table-layout: fixed;
}

.anime-ost-header {
    border: 3px;
    border-style: solid;
    border-color: #006688;
    background-color: #c0ffff;
}

.anime-ost-header a {
    color: #000000;
    text-decoration: none;
}

.anime-ost-cell {
    border: 2px;
    border-style: solid;
    border-color: #006688;
}